@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .listItem {
        @apply px-4 lg:pl-0 pl-10 mx-1 lg:py-1 py-2 lg:text-black font-besicFont hover:bg-sky-900 lg:hover:bg-transparent
    }
}

:root{
    max-width: 1250px;
    margin-inline: auto;
    background-color:#F5F5FD;
}
